.background {
  min-height: 100vh;
  overflow: auto;
  background-image: url("https://github.com/joerup2004/planetaria/blob/main/Images/StarrySky.png?raw=true");
  background-color: #222222;
  background-size: cover;
  background-attachment: fixed;
}

.column {
  text-align: center;
}

.image {
  height: 200px;
  width: 200px;
}

.title {
  font-size: 60px;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.desc {
  font-size: 20px;
  color: #aaaaaa;
  margin: 0px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  max-width: 1200px;
}

.title2 {
  font-size: 30px;
  color: #eeeeee;
  margin: 0px;
  padding-top: 20px;
  text-align: center;
}

.desc2 {
  font-size: 20px;
  color: #aaaaaa;
  margin: 0px;
}

.title3 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  color: #ffffff;
  margin: 0px;
  text-align: center;
}

@media only screen and (min-width: 1001px) {
  .linkDiv {
    display: flex;
  }
}
.linkDiv {
  align-content: center;
}

.linkTitle {
  font-size: 40px;
  color: #ffffff;
  margin: 0px;
  text-align: center;
}

.linkImage {
  width: 450px;
  height: 170px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 20px;
  align-content: center;
  vertical-align: center;
}

.linkBox {
  width: 550px;
  align-content: center;
  padding: 25px;
}

@media only screen and (max-width: 500px) {
  .linkImage {
    display: none;
  }
  .linkBox {
    width: 50vh;
    min-width: 100px;
  }
  .linkRect {
    min-height: 150px;
  }
}

.linkRect {
  background-color: #000001;
  border-radius: 5%;
  align-content: center;
  padding: 25px;
}
.linkRect:hover {
  background-color: #111111;
}

.searchBar {
  width: 500px;
  height: 50px;
  background-color: #020202;
  border-radius: 5%;
  text-align: center;
}
.searchBar:hover {
  background-color: #222222;
}
@media only screen and (max-width: 500px) {
  .searchBar {
    width: 50vh;
    min-width: 100px;
  }
}

.searchTitle {
  color: #777777;
  font-size: 20px;
  padding: 15px;
  margin: 0;
}
